@charset "utf-8";
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/
body {
	margin: 0 auto;
	width: 548px;
	min-width: 548px !important;
}

.popBox {
	background: url(../../img/pop/pop_top_bg.png) no-repeat left top;
	padding-top: 4px;
	position: relative;
	margin: 0 auto;
	text-align: left;
	width: 548px;
}

.popBox .close {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 26px;
	height: 26px;
	background: url(../../img/pop/close.gif) no-repeat;
}

.popup {
	background: url(../../img/pop/pop_btm_bg.png) no-repeat left bottom;
	padding: 19px 22px 40px 18px;
}

.popup h1 {
	background: url(../../img/pop/h1_bg.gif) no-repeat 5px top;
	color: #333;
	font-size: 2em;
	margin-bottom: 16px;
	padding: 7px 0 1px 57px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #85C571;
}

.popup .popInner {
	margin: 0 auto;
	width: 500px;
}

.popup .mailForm {
	margin-bottom: 17px;
}

.popup .mailForm dt {
	font-size: 1.2em;
	padding: 3px 0 4px;
}

.popup .mailForm dd {
	padding: 0 0 10px 14px;
}

.popup .mailForm dd input {
	width: 347px;
}

.popup .mailForm .check {
	font-size: 1.2em;
	text-align: center;
	background-image: url(../../img/pop/bk.png);
	background-repeat: no-repeat;
	height: 230px;
	width: 492px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 1px;
	margin-left: 0px;
}

.popup .mailForm .check input {
	vertical-align: middle;
}

.popup .mailForm .submit {
	margin-left: 81px;
	width: 354px;
}

.popup .mailForm .submit li {
	float: left;
	padding-top: 11px;
}

.popup .mailForm .submit li input {
	vertical-align: top;
}

.popup p {
	clear: both;
	font-size: 1.2em;
	text-align: center;
}

.popup p a {
	color: #912828;
	display: block;
	font-size: 1.25em;
	margin-top: 20px;
	text-decoration: underline;
}

.popup p a:hover {
	text-decoration: none;
}

.popup .text {
	margin-bottom: 40px;
}

.popup .link {
	margin-bottom: 13px;
	text-align: center;
}



/*------------------------------------------------------------
	pop
------------------------------------------------------------*/


.check .point{
	height: 10px;
	width: 10px;
	padding-top: 31px;
	padding-left: 215px;
	padding-bottom: 2px;
	}

body#tuuen {
	margin: 0 auto;
	width: 548px;
	min-width: 548px !important;
}

body#tuuen .popBox {
	background: url(../img/mypage/tuu_pop_top_bg.png) no-repeat left top;
	padding-top: 4px;
	position: relative;
	margin: 0 auto;
	text-align: left;
	width: 548px;
}

body#tuuen .popBox .close {
	position: absolute;
	right: 6px;
	top: 6px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	background: url(../img/mypage/tuu_close.gif) no-repeat;
}

body#tuuen .popup {
	background: url(../img/mypage/tuu_pop_btm_bg.png) no-repeat left bottom;
	padding: 19px 22px 43px 18px;
}

body#tuuen .popup h1 {
	background: url(../img/mypage/tuu_h1_bg.gif) no-repeat 5px top;
	border-bottom: 3px solid #FEB933;
	color: #333;
	font-size: 2.2em;
	line-height: 1.4;
	margin-bottom: 12px;
	padding: 7px 0 0 58px;
	zoom: 1;
}

body#tuuen .popup .popInner {
	padding-left: 3px;
	width: 475px;
	font-size: 1.4em;
	float: left;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	text-align: left;
}

body#tuuen .popup p {
	color: #222;
	font-size: 1.4em;
	margin: 0 0 3px 20px;
	text-align: left;
}

body#tuuen .popup .mailForm .radioBox {
	background: url(../img/mypage/tuu_radio_box_top_bg.gif) no-repeat left top;
	margin-bottom: 17px;
	padding-top: 8px;
}

body#tuuen .popup .mailForm .radioBox .radioList {
	background: #FFF url(../img/mypage/tuu_radio_box_btm_bg.gif) no-repeat left bottom;
	padding: 7px 10px 7px 30px
}

body#tuuen .popup .mailForm .radioBox .radioList li {
	color: #070707;
	float: left;
	font-size: 1.6em;
	padding: 1px 0 15px 0;
	width: 133px;
}

.liSpecial {
	padding-top: 15px;
	padding-bottom: 20px;
	width: 420px;
	font-size: 1.5em;
}

body#tuuen .popup .mailForm .radioBox .radioList li span {
	vertical-align: top;
}

body#tuuen .popup .mailForm .radioBox .radioList li span input {
	vertical-align: top;
}

body#tuuen .popup .mailForm .radioBox .radioList .liSpecial .inputText {
	margin-left: 19px;
	width: 295px;
}

body#tuuen .popup .mailForm .radioBox .radioList .liSpecial #fNursery09 {
	margin-top: -2px;
	vertical-align: middle;
}

body#tuuen .popup .mailForm .submit {
	text-align: center;
}

body#tuuen .popup .mailForm .submit li {
	display: inline;
	margin: 0 17px 0 12px;
}

body#tuuen .popup .mailForm .submit li input {
	vertical-align: top;
}
