@charset "utf-8";
/*------------------------------------------------------------
	トープページ
------------------------------------------------------------*/
#main .comH3Ttl:nth-child(6) {
	padding-bottom: 5px;
	border-bottom: 2px solid #71B45A;
}

#main .comH3Ttl a {
	margin-top: -3px;
	float: right;
}

#main .linkList {
	margin: 0 5px 8px;
}

#main .linkList li {
	margin-bottom: 8px;
}

#main .linkList li:last-child {
	margin-bottom: 0;
}

#main .linkList li a {
	padding: 7px;
	display: block;
	position: relative;
	background: url(../img/owner/bg_01.jpg) no-repeat right bottom;
	background-size: 100% 100%;
	border: 1px solid #92C874;
	border-radius: 6px;
}

#main .linkList li a:before {
	width: 26px;  
    height: 26px;
    background: url(../img/owner/icon_01.png) no-repeat left top;
	background-size: 26px 26px;
    position: absolute;  
    top: 44%;  
    right: 4px;  
  
    content: "";
}

#main .linkList li span {
	display: block;
}

#main .linkList li .title {
	margin-bottom: 6px;
	padding: 0 0 3px 5px;
	color: #333;
	font-size: 12px;
	text-align: right;
	border-bottom: 1px solid #8CC760;
}

#main .linkList li .title span {
	margin-top: -2px;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	float: left;
	letter-spacing: 2px;
	text-align: left;
	border-bottom: 1px solid #656565;
}

#main .linkList li .imgBox img {
	float: left;
}

#main .linkList li .imgBox span {
	padding: 5px 0 0 112px;
	font-size: 12px;
	line-height: 1.4;
}