@charset "utf-8";
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/
#conts h2 {
	background: url(../img/map/h2_bg.gif) no-repeat left 1px;
}

#conts .ttl {
	border-bottom: 4px solid #6FBA31;
	margin-bottom: 12px;
	position: relative;
	zoom: 1;
}

#conts .ttl p {
	background: url(../img/map/ttl_bg.gif) no-repeat left bottom;
	color: #253515;
	font-size: 1.3em;
	line-height: 1.3;
	padding: 12px 0 0 34px;
	width: 530px;
}

#conts .ttl p span {
	font-size: 1.4em;
}

#conts .ttl .link {
	position: absolute;
	right: 0;
	bottom: 0;
}

#conts .tabSection {
	background: url(../img/map/tab_section_bg.gif) no-repeat left bottom;
	margin: 0 -1px 0 -2px;
	padding-bottom: 2px;
	position: relative
	width: 755px;
	zomm: 1;
}

#conts .linkUl li {
	float: left;
}

#conts .linkUl li a {
	display: block;
}

#conts .linkUl .on img {
	filter: alpha(opacity=0);
	opacity: 0;
}

#conts .linkUl .tab01 a {
	background: url(../img/map/link02_on.jpg) no-repeat;
}

#conts .linkUl .tab02 a {
	background: url(../img/map/link03_on.jpg) no-repeat;
}

#conts .linkUl .tab03 a {
	background: url(../img/map/link04_on.jpg) no-repeat;
}

#conts .linkUl .tab04 a {
	background: url(../img/map/link05_on.jpg) no-repeat;
}

#conts .section {
	background: url(../img/map/section_bg.gif) repeat-y left top;
	padding: 6px 13px 12px 15px;
	zoom: 1;
}

#conts .section .subSection {
	clear: both;
}

#conts .subLink {
	margin-right: -1px;
	position: relative;
	z-index: 100;
	zoom: 1;
}

#conts .subLink li {
	float: left;
	margin-bottom: -4px;
}

#conts .subLink li a {
	display: block;
}

#conts .subLink .on img {
	filter: alpha(opacity=0);
	opacity: 0;
}

#conts .subLink .tab01 a {
	background: url(../img/map/link06_on.jpg) no-repeat left top;
}

#conts .subLink .tab02 a {
	background: url(../img/map/link07_on.jpg) no-repeat left top;
}

#conts .subTab {
	background: #FFF2C2 url(../img/map/sub_tab_btm_bg.jpg) no-repeat left bottom;
	clear: both;
	padding-bottom: 5px;
	position: relative;
	z-index: 5;
	zoom: 1;
}

#conts .subTab .tabInner {
	background: url(../img/map/sub_tab_top_bg.jpg) no-repeat left top;
	padding: 10px 11px 8px 13px;
	zoom: 1;
}

#conts .subTab .speInner {
	padding: 10px 11px 8px 13px !important;
}

#conts .subTab .speInner td {
    vertical-align: top !important;
}

#conts .subTab .pNote {
	color: #0f0f0f;
	font-size: 1.4em;
	margin-bottom: 6px;
}

#conts .subTab .pNote span {
	color: #dc0000;
}

#conts .subTab .mailForm {
	margin-bottom: 25px;
}

#conts .subTab .mailForm table {
	width: 100%;
	border-collapse: collapse;
}

#conts .subTab .mailForm th,
#conts .subTab .mailForm td {
	border-bottom: 1px solid #CCC;
	color: #0f0f0f;
	font-size: 1.4em;
	font-weight: normal;
	padding: 6px 0;
	text-align: left;
	vertical-align: middle;
}

#conts .subTab .mailForm th {
	padding: 3px 0 3px;
	vertical-align: top;
}

#conts .subTab .mailForm .thSpecial {
	padding-left: 16px;
	vertical-align: top;
}

#conts .subTab .mailForm th sup {
	color: #dc0000;
	font-size: 1.2em;
	display: inline-block;
}

#conts .subTab .mailForm th span {
	color: #dc0000;
}

#conts .subTab .mailForm td sup {
	color: #dc0000;
}
#conts .subTab .mailForm td .list {
	margin-top: 3px;
}

#conts .subTab .mailForm td .list li {
	float: left;
	padding-left: 17px;
	width: 49px;
	text-indent: -18px;
}

#conts .subTab .mailForm td .list li input {
	margin: 3px 0px 0 0;
	vertical-align: top;
}

    * html #conts .subTab .mailForm td .list li input {
		margin-top: 0;
	}

    *+html #conts .subTab .mailForm td .list li input {
		margin-top: 0;
	}

#conts .subTab .mailForm td .nameList li {
	display: inline;
	margin-right: 8px;
}

#conts .subTab .mailForm td .nameList li span {
	display: inline-block;
	width: 36px;
}

#conts .subTab .mailForm td .nameList input {
	width: 137px;
}

    * html #conts .subTab .mailForm td .nameList input {
		margin-top: -2px;
		vertical-align: top;
	}

    *+html #conts .subTab .mailForm td .nameList input {
		margin-top: -2px;
		vertical-align: top;
	}

#conts .subTab .mailForm td .photo li {
	float: left;
}

#conts .subTab .mailForm td .photo li input {
	cursor: pointer;
	width: 180px;
}

#conts .subTab .mailForm td .list01 li {
	width: 60px;
}

#conts .subTab .mailForm td .list01 .liSpecial {
	padding-left: 0;
	text-indent: 0;
	width: 180px;
}

#conts .subTab .mailForm td .list01 .liSpecial span {
	margin-right: 6px;
}


#conts .subTab .mailForm td .birth li {
	float: left;
	margin-right: 17px;
}

#conts .subTab .mailForm td .birth li span {
	margin: 2px 0 0 7px;
}

#conts .subTab .mailForm td .codeList li {
	float: left;
	margin-right: 5px;
}

#conts .subTab .mailForm td .codeList li span {
	margin-right: 6px;
}

#conts .subTab .mailForm td .codeList li input {
	vertical-align: middle;
	width: 59px;
}

#conts .subTab .mailForm td select {
	vertical-align: middle;
}

#conts .subTab .mailForm td .codeList .liSpecial {
	margin-right: 10px;
}

#conts .subTab .mailForm td .codeList .liSpecial input {
	width: 65px;
}

#conts .subTab .mailForm .input01 {
	width: 260px;
}

#conts .subTab .mailForm .input02 {
	width: 208px;
}

#conts .subTab .mailForm .input03 {
	width: 393px;
}

#conts .subTab .mailForm .femail {
	width: 380px;
}

#conts .subTab .linkList {
	padding: 0 5px 0 4px;
}

#conts .subTab .linkList li {
	float: left;
}

#conts .subTab .linkList li img {
	vertical-align: top;
}

#conts .subTab a:hover img,
#conts .link a:hover img  {
	filter: alpha(opacity=70);
	opacity: 0.7;
}

/*------------------------------------------------------------
	subTab02
------------------------------------------------------------*/
#conts .subTab02 .tabInner .innerBox {
	margin-bottom: 22px;
}

#conts .subTab02 .tabInner .topImg img {
	display: block;
	vertical-align: baseline;
}

#conts .subTab02 .tabInner .subBox {
	padding: 0 7px 10px;
	zoom: 1;
	background: url(../img/map/sub_box_bg01.png) no-repeat left bottom;
}

#conts .subTab02 .tabInner .pTtl {
	padding: 0 15px;
	color: #FFAC25;
	font-size: 1.8em;
	line-height: 1.4;
	border-bottom: 1px solid #FDEA7F;
}

#conts .subTab02 .mailForm {
	margin-bottom: 0;
}

#conts .subTab02 .tabInner .inner {
	padding: 5px 0 10px;
	border-top: 1px solid #FDEA7F;
}

#conts .subTab02 .tabInner .inner table {
	width: 472px;
	float: left;
}

#conts .subTab02 .tabInner .inner th {
	padding-left: 15px;
}

#conts .subTab02 .tabInner .inner input {
	width: 260px;
}

#conts .subTab02 .tabInner .inner .photoBox {
	margin-top: 8px;
	float: right;
	width: 196px;
}


#conts .subTab02 .tabInner .inner .photoBox span {
	display: inline-block;
	width: 50px;
	font-size: 1.45em;
}

#conts .subTab02 .tabInner .inner .photoBox a {
	margin-left: 4px;
}

#conts .subTab .tabInner .pLink {
	margin: 0 10px 9px;
	color: #a00000;
	font-size: 1.35em;
	text-align: right;
}

#conts .subTab .tabInner .pLink a {
	color: #202020;
	text-decoration: underline;
}

#conts .subTab .tabInner .pLink a:hover {
	text-decoration: none;
}

#conts .subTab02 .tabInner .innerBox01 .subBox {
	padding: 9px 7px;
	background: #FFF url(../img/map/sub_box_bg02.jpg) no-repeat left bottom;
}

#conts .subTab02 .tabInner .innerBox01 .pTtl {
	color: #56AF06;
	border-bottom: 1px solid #ADE47A;
}

#conts .subTab02 .tabInner .innerBox01 .tableBox {
	padding-top: 5px;
	border-top: 1px solid #ADE47A;
}

#conts .subTab02 .tabInner .innerBox01 .tableBox table {
	margin-bottom: 5px;
}

#conts .subTab02 .tabInner .innerBox01 .tableBox .pLink {
	margin-bottom: 18px;
}

#conts .subTab02 .tabInner .innerBox01 .wid01 {
	width: 205px;
}

#conts .subTab02 .tabInner .innerBox01 .wid02 {
	width: 260px;
}

#conts .subTab02 .mailForm td .list01 li {
	width: 90px;
}

#conts .subTab02 .mailForm td .facility li {
	margin-right: 30px;
	float: left;
}

#conts .subTab02 .mailForm td .facility li select {
	color: #222;
	height: 25px;
	font-size: 1.1em;
	width: 130px;
}

#conts .subTab02 .mailForm td .facility li input {
	width: 89px;
	font-size: 0.9em;
}

#conts .subTab02 .mailForm .trFacility th,
#conts .subTab02 .mailForm .trFacility td {
	border-bottom: none;
}

#conts .comSubBox {
	padding: 0;
	border: none;
	background-color: transparent;	
}

#conts .comSubBox .formBox {
	margin-bottom: 10px;
}

#conts .comSubBox .formBox ul {
	margin-top: -5px;
	padding-left: 0;
	position: relative;
	zoom: 1;
}

#conts .comSubBox table td {
	padding: 7px 5px;
    font-size: 1.3em;
	vertical-align: middle;
}

#conts .comSubBox table td a {
	font-size: 1.15em;
}

#conts .section td span {
	display: inline-block;
}

#conts .tabBox02 .subTab {
	zoom: 1;
	background: url(../img/map/sub_tab_btm_bg01.jpg) no-repeat left bottom;
}

#conts .tabBox02 .subTab .tabInner {
	zoom: 1;
	background: url(../img/map/sub_tab_top_bg01.png) no-repeat left top;
}

#conts .tabBox02 .subLink .tab01 a {
	background: url(../img/map/link14_on.jpg) no-repeat;
}

#conts .tabBox02 .subLink .tab02 a {
	background: url(../img/map/link15_on.jpg) no-repeat;
}

/*------------------------------------------------------------
	アンケートフォーム
------------------------------------------------------------*/
.ang_font {
	font-size: 15px;
	font-weight: normal;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
	margin-left: 10px;
}

#conts #subTab .tabInner {
    padding: 13px 6px;
}

#conts #subTab .tabInner th {
	vertical-align: middle;
}

#conts #subTab .mailForm .thSpecial {
    padding: 10px 0 0 16px;
    vertical-align: top;
}

#conts .section td .span01,
#conts .section td .span02,
#conts .section td .span03,
#conts .section td .span04,
#conts .section td .span05,
#conts .section td .span06,
#conts .section td .span07,
#conts .section td .span08,
#conts .section td .span09,
#conts .section td .span10 {
	padding-left: 23px;
}

#conts .comSubBox table th {
	padding: 6px 11px;
	vertical-align: middle;
}

/*------------------------------------------------------------
	tuuen
------------------------------------------------------------*/
#tuuen {
	margin: 0 auto;
	width: 548px;
	min-width: 548px !important;
}

#tuuen .popBox {
	background: url(../img/map/tuu_pop_top_bg.png) no-repeat left top;
	padding-top: 4px;
	position: relative;
	margin: 0 auto;
	text-align: left;
	width: 548px;
}

#tuuen .popBox .close {
	position: absolute;
	right: 6px;
	top: 6px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	background: url(../img/map/tuu_close.gif) no-repeat;
}

#tuuen .popup {
	background: url(../img/map/tuu_pop_btm_bg.png) no-repeat left bottom;
	padding: 19px 22px 43px 18px;
}

#tuuen .popup h1 {
	background: url(../img/map/tuu_h1_bg.gif) no-repeat 5px top;
	border-bottom: 3px solid #FEB933;
	color: #333;
	font-size: 2.2em;
	line-height: 1.4;
	margin-bottom: 12px;
	padding: 7px 0 0 58px;
	zoom: 1;
}

#tuuen .popup .popInner {
	margin: 0 auto;
	padding-left: 3px;
	width: 475px;
}

#tuuen .popup p {
	color: #222;
	font-size: 1.4em;
	margin: 0 0 3px 20px;
}

#tuuen .popup .mailForm .radioBox {
	margin-bottom: 17px;
	padding-top: 8px;
}

#tuuen .popup .mailForm .radioBox .radioList {
	background: #FFF url(../img/map/tuu_radio_box_btm_bg.gif) no-repeat left bottom;
	padding: 7px 10px 7px 30px
}

#tuuen .popup .mailForm .radioBox .radioList li {
	color: #070707;
	float: left;
	font-size: 1.6em;
	padding: 1px 0 15px 0;
	width: 133px;
}

#tuuen .popup .mailForm .radioBox .radioList .liSpecial {
	padding-top: 0;
	width: 420px;
}

#tuuen .popup .mailForm .radioBox .radioList li span {
	vertical-align: top;
}

#tuuen .popup .mailForm .radioBox .radioList li span input {
	vertical-align: top;
}

#tuuen .popup .mailForm .radioBox .radioList .liSpecial .inputText {
	margin-left: 19px;
	width: 295px;
}

#tuuen .popup .mailForm .radioBox .radioList .liSpecial #fNursery09 {
	margin-top: -2px;
	vertical-align: middle;
}

#tuuen .popup .mailForm .submit {
	text-align: center;
}

#tuuen .popup .mailForm .submit li {
	display: inline;
	margin: 0 17px 0 12px;
}

#tuuen .popup .mailForm .submit li input {
	vertical-align: top;
}

.pic70{
	background-image: url(../img/map/photo01.jpg);
	background-repeat: no-repeat;
	height: 65px;
	width: 70px;
	}
.pic70 .batsu{
	float: right;
	}
	
.pic109{
	background-image: url(../img/map/photo02.jpg);
	background-repeat: no-repeat;
	height: 111px;
	width: 109px;
	float: right;
	margin-top: 0px;
	margin-right: 15px;
	}
.pic109 .batsu{
	float: right;
	}	
	
.pic66{
	background-image: url(../img/map/photo05.jpg);
	background-repeat: no-repeat;
	height: 67px;
	width: 66px;
	}
.pic66 .batsu{
	float: right;
	}		