@charset "utf-8";
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/
#conts a:hover img {
	filter: alpha(opacity=70);
	opacity: 0.7;
}

#conts h2 {
	background: url(../img/nursery_info/h2_bg.gif) no-repeat left 1px ;
	border-bottom: 3px solid #FA9ECE;
	padding: 5px 47px 4px;
}

/*------------------------------------------------------------
	321
------------------------------------------------------------*/

#conts .h2Ttl2{
	background: url(../img/nursery_info/h2_bg02.gif) no-repeat left 1px;
	padding: 5px 47px 4px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #F2DB84;
}


/*------------------------------------------------------------
	331
------------------------------------------------------------*/

#conts .h2Ttl3{
	background: url(../img/nursery_info/h2_bg03.gif) no-repeat left 1px;
	padding: 5px 47px 4px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #B7DF7B;
}dt {
	width: 65px;
}

#conts .formBox .formDlR dd {
	width: 243px;
}

#conts .formBox .formDlR dd input {
	float: left;
}

#main #conts .formBox .formDlR dd .fKeyword {
	border: 1px solid #D9D9D9;
	color: #333;
	height: 21px;
	padding: 4px 0 0 6px;
	vertical-align: middle;
	width: 188px;
}

#conts .formBox .formDlR .fSearch {
	margin-top: 1px;
	float: right;
}

#main #conts .formBox ul {
	float: left;
	padding-left: 7px;
	width: 225px;
}

#conts .formBox ul li {
	float: left;
	margin-right: 4px;
}

#conts .subBox table {
	border: 1px solid #DADADA;
	border-collapse: collapse;
	margin-bottom: 16px;
	width: 100%;
}

#conts .subBox table th,
#conts .subBox table td {
	border: 1px solid #DADADA;
	color: #222;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	word-break: break-all;
}

#conts .subBox table th {
	background-color: #D9F7C1;
	font-size: 1.3em;
	padding: 6px 1px 7px 11px;
}

#conts .subBox table td {
	background-color: #FFF;
	font-size: 1.5em;
	padding: 10px 1px 4px 5px;
}

#conts .subBox table .spacing {
	padding-right: 10px;
	text-align: center;
}

#conts .subBox table td a {
	color: #222;
	text-decoration: underline;
}

#conts .subBox table td a:hover {
	text-decoration: none;
}

#conts .subBox table td ul li {
	float: left;
	margin-right: 5px;
}

#conts .subBox .list {
	font-size: 1.3em;
	margin-right: 5px;
	text-align: right;
}

#conts .subBox .list li {
	display: inline;
}

#conts .subBox .list li a {
	margin: 0 1px 0 5px;
}

#conts .subBox .list .on a,
#conts .subBox .list li a:hover {
	color: #338b07;
}

#conts .subBox .list li .special {
	margin-right: 7px;
}

#conts .subBox .list .prev {
	margin-right: -6px;
	position: relative;
	zoom: 1; 
}

    *+html #conts .subBox .list .prev {
		margin-right: 0;
	}

    * html #conts .subBox .list .prev {
		margin-right: 0;
	}

#conts .subBox .list .next {
	margin-left: -6px;
	position: relative;
	zoom: 1; 
}

/*------------------------------------------------------------
	321
------------------------------------------------------------*/

#conts .h2Ttl2{
	background: url(../img/nursery_info/h2_bg02.gif) no-repeat left 1px;
	padding: 5px 47px 4px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #F2DB84;
}


/*------------------------------------------------------------
	331
------------------------------------------------------------*/

#conts .h2Ttl3{
	background: url(../img/nursery_info/h2_bg03.gif) no-repeat left 1px;
	padding: 5px 47px 4px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #B7DF7B;
}

/*------------------------------------------------------------
	pagination
------------------------------------------------------------*/
#conts .pagination ul{
	clear: both;
	font-size: 1.3em;
	margin-right: 5px;
	text-align: right;
}

#conts .pagination ul li {
	display: inline;
}

#conts .pagination ul li a {
	margin: 0 1px 0 5px;
}

#conts .pagination .on a,
#conts .pagination li a:hover {
	color: #338b07;
}

#conts .pagination ul li .special {
	margin-right: 7px;
}

#conts .pagination .prev {
	margin-right: -6px;
	position: relative;
	zoom: 1; 
}

    *+html #conts .pagination .prev {
		margin-right: 0;
	}

    * html #conts .pagination .prev {
		margin-right: 0;
	}

#conts .pagination .next {
	margin-left: -6px;
	position: relative;
	zoom: 1; 
}